/*
=============== 
Global Styles
===============
*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', sans-serif;
  padding: 1em 1.5em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}


/* Scrollbar Effects */
::-webkit-scrollbar {
  width: 1vw;
  height: 1vw;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
} 
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
